<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>donovan_c@beezwax.net</string>
	<key>contactName</key>
	<string>Donovan Chandler</string>
	<key>description</key>
	<string>FileMaker is a cross-platform, rapid development database application.</string>
	<key>uuid</key>
	<string>1F265749-6285-4C70-BAF0-552692B6C583</string>
</dict>
</plist>
